<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>

	<body>
		<%- include("./partials/headerLogueado") %>

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Editar mi perfil</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<h2 class="col-12">
						<form action="/users/edit" method="get">
							<!-- Ingresamos la ruta para que no se rompa al enviar el form -->
							<label for="email">Nuevo email:</label>
							<input type="email" id="email" name="email" required><br><br>

							<label for="usuario">Nuevo usuario:</label>
							<input type="text" id="usuario" name="usuario" required><br><br>

							<label for="contrasena">Nueva contraseña:</label>
							<input type="password" id="contrasena" name="contrasena" required><br><br>

							<label for="fecha_nacimiento">Nueva fecha de Nacimiento:</label>
							<input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required><br><br>

							<label for="nro_documento">Nuevo número de Documento:</label>
							<input type="number" id="nro_documento" name="nro_documento" required><br><br>

							<label for="foto_perfil">Nueva foto de Perfil:</label>
							<input type="text" id="foto_perfil" name="foto_perfil"><br><br>

							<button type="submit">Enviar</button>
						</form>
					</h2>
					<%- include("./partials/footer") %>
	</body>

</html>